<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
 <appSettings>

    <add key="FilepathImage" value="E:\ColorVMS\Image\Img_29522022045253.png"/>
    <add key="FilepathVideo" value="E:\ColorVMS\Image\Img_01442022114446.mp4"/>
    <add key="Width" value="193"/>
    <add key="Height" value="193"/>
    <add key="Port" value="80"/>
    <add key="LEDResize" value="193,193"/>
  </appSettings>
</configuration>
